.fullstack_fullstack{
    position: relative;
    width: 100vw;
    margin:auto 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;

}

.description1{
    width: 95%;

    display: flex;
    position: relative;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #00000000;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    justify-content: center;

    margin: auto;
    margin-bottom: 0px;
    margin-top: 40px;
}

.estilos{
    color: white;
}

.boton_estilo_ml{
    background-color: #FFF159;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    padding: 5px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    }